.checked{
    text-decoration: line-through;
    opacity: 0.5;
}
ul{
    list-style-type: none;
    padding: 0;
}
.delete{
    position: relative;
    display: block;
    background-color: #FF8080;
    color: #fff;
    margin-top: 10px;
    width: 25%;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}
.copy{
    position: relative;
    display: block;
    background-color: #FF8080;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}
.check{
    position: relative;
    display: block;
    background-color: #AEDEFC;
    color: #fff;
    margin-top: 10px;
    width: 25%;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}
.actions-wrap{
    display: flex;
    justify-content: space-between;
}
.new-note-wrap{
    border-right: 1px solid #B6BBC4;
}
#btnNew {
	background-color: #DF826C;
	fill: #fff;
	width: 50px;
	height: 30px;
	padding: 4px;
	border-radius: 6px;
    cursor: pointer;
}
.single-note-wrap li{
    min-height: 150px;
    background-color: #FBECB2;
    padding: 10px 20px;
}